In [1]:
import pandas as pd
from pyjstat import pyjstat
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

<b> I have been provided with following two urls to determine in which new countries Futurice can expand its location
<li> size of ICT sector in countries 
<li> amount of cloud computing used in the country
<p><b> Additional GDP data has been provided </b></p>

In [2]:
#url json stat
url_ict = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/tin00074?nace_r2=ICT'
url_percentage_cloud_computing = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/isoc_cicce_use?sizen_r2=M_C10_S951_XK&sizen_r2=L_C10_S951_XK&unit=PC_ENT&indic_is=E_CC'

# Percentage of the ICT sector on GDP

In [9]:
# ict data
dataset_ict = pyjstat.Dataset.read(url_ict)

In [5]:
print(dataset_ict)

Dataset([('version', '2.0'), ('label', 'Percentage of the ICT sector on GDP'), ('href', 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/tin00074?nace_r2=ICT'), ('source', 'Eurostat'), ('updated', '2022-07-01'), ('status', {'0': 'b', '6': ':c', '10': 'b', '12': ':b', '13': ':', '14': ':', '15': ':', '16': ':', '17': ':', '19': 'e', '20': 'e', '21': ':c', '22': ':c', '23': ':c', '24': ':c', '34': 'b', '36': 'b', '46': 'b', '48': ':b', '49': ':', '50': ':', '51': ':', '52': ':', '53': ':', '54': ':', '55': ':', '56': ':', '57': ':', '58': ':', '59': ':', '60': ':c', '61': ':c', '62': ':c', '63': ':c', '64': ':c', '65': ':c', '66': ':c', '67': ':c', '68': ':c', '69': ':c', '70': ':c', '71': ':c', '72': ':c', '84': 'b', '94': 'bp', '95': 'p', '96': 'b', '100': ':c', '101': ':c', '102': ':c', '103': ':c', '104': ':c', '105': ':c', '106': 'b', '108': 'b', '118': 'b', '120': 'b', '121': ':c', '122': ':c', '126': 'bp', '127': 'p', '128': 'p', '129': 'p', '130': 'b', '131': 'p', '132': 'b', '139': ':c', '140': ':c', '141': ':c', '142': 'b', '143': ':c', '144': ':b', '145': ':', '146': ':', '147': ':', '148': ':', '149': ':', '150': ':', '151': ':', '152': ':', '153': ':', '154': ':', '156': 'b', '161': 'b', '162': ':c', '164': ':c', '165': 'b', '168': 'b', '173': ':c', '174': 'b', '175': 'b', '177': 'b', '179': 'p', '180': 'b', '191': 'bp', '192': 'b', '202': 'b', '204': ':c', '205': ':c', '206': ':c', '207': ':c', '208': ':c', '209': ':c', '210': ':c', '211': ':c', '212': ':c', '213': ':c', '214': ':c', '215': ':c', '216': ':b', '217': ':', '218': ':', '219': ':', '220': ':', '221': ':', '222': ':', '223': ':', '224': 'p', '225': 'p', '227': 'p', '228': 'b', '229': ':', '230': ':', '237': 'b', '240': 'b', '241': ':c', '250': 'b', '252': ':c', '253': ':c', '254': ':c', '255': ':c', '256': ':c', '257': ':c', '258': ':c', '259': ':c', '260': ':c', '261': ':c', '262': ':c', '263': ':c', '264': 'b', '276': ':b', '277': ':', '278': ':', '279': ':', '280': ':', '281': ':', '282': ':', '283': ':', '284': ':', '285': ':', '286': ':', '287': ':', '288': ':b', '289': ':', '290': ':', '295': 'p', '296': 'p', '297': ':c', '298': ':c', '300': 'b', '312': ':c', '313': ':c', '314': ':c', '315': ':c', '316': ':c', '318': ':c', '319': ':c', '320': ':c', '321': ':c', '322': ':c', '323': ':c', '324': ':b', '332': ':c', '334': 'b', '336': ':c', '346': 'b', '348': 'b', '349': ':c', '350': ':c', '351': ':c', '352': ':c', '353': ':c', '354': ':c', '355': ':c', '356': ':c', '357': ':c', '358': ':c', '359': ':c', '360': 'b', '361': 'p', '370': 'b', '372': ':b', '373': ':', '374': ':', '375': ':', '376': ':', '377': ':', '378': ':', '379': ':', '380': ':c', '381': 'p', '384': ':c', '387': ':c', '388': ':c', '389': ':c', '391': ':c', '392': ':c', '393': ':c', '394': 'b', '396': 'b', '397': ':c', '408': 'b', '413': ':c', '420': ':b', '421': ':', '422': ':', '423': ':', '424': ':', '425': ':', '426': ':', '427': ':', '428': ':', '429': ':', '430': ':', '431': ':', '432': 'b', '433': ':c', '435': ':c', '436': ':c', '437': ':c', '440': 'b', '443': ':'}), ('extension', {'datasetId': 'tin00074', 'lang': 'EN', 'description': 'Value added at factor cost in the ICT sector (source: SBS, variable V12150) Since 2008, definition of the ICT sector is based on NACE Rev. 2 classification as follows: ICT Total (261 + 262 + 263 + 264 + 268 + 951 + 465 + 582 + 61 + 62 + 631) ICT Manufacturing (261 + 262 + 263 + 264 + 268) ICT Services (951 + 465 + 582 + 61 + 62 + 631) Until 2007, definition of the ICT sector is based on NACE Rev. 1.1 classification as follows: ICT Total (30 + 313 + 32 + 332 + 333 + 5184 + 5186 + 642 + 72) ICT Manufacturing (30 + 313 + 32 + 332 + 333) ICT Services (5184 + 5186 + 642 + 72) Total value added at factor cost (source: National Accounts, all branches) Value added at factor cost is defined as Gross value added (at basic prices) minus Other taxes less other subsidies on production. Due to change of the ICT sector definition as a consequence of change of the underlying classification, data for 2008 are not comparable with data published for previous years.', 'subTitle': None, 'status': {'label': {'b': 'break in time series', ':': 'not available', 'c': 'confidential', 'e': 'estimated', 'p': 'provisional'}}}), ('class', 'dataset'), ('value', {'0': 3.19, '1': 3.14, '2': 3.12, '3': 3.25, '4': 3.15, '5': 3.23, '7': 3.37, '8': 3.46, '9': 3.49, '10': 3.58, '11': 3.66, '18': 4.98, '19': 4.75, '20': 4.54, '25': 4.45, '26': 4.51, '27': 4.13, '28': 4.13, '29': 4.03, '30': 3.82, '31': 3.79, '32': 3.78, '33': 3.75, '34': 3.97, '35': 4.21, '36': 5.01, '37': 4.84, '38': 4.8, '39': 4.63, '40': 4.53, '41': 4.69, '42': 4.88, '43': 5.02, '44': 5.36, '45': 5.72, '46': 6.07, '47': 6.62, '73': 4.44, '74': 4.39, '75': 4.34, '76': 4.35, '77': 4.34, '78': 4.27, '79': 4.24, '80': 4.27, '81': 4.36, '82': 4.56, '83': 4.71, '84': 3.98, '85': 4.15, '86': 3.91, '87': 4.04, '88': 4, '89': 4.08, '90': 4.17, '91': 4.23, '92': 4.13, '93': 4.18, '94': 4.39, '95': 4.37, '96': 4.63, '97': 4.83, '98': 4.62, '99': 4.62, '106': 4.56, '107': 4.46, '108': 4.37, '109': 4.98, '110': 4.78, '111': 5.03, '112': 4.7, '113': 4.6, '114': 4.83, '115': 4.74, '116': 4.9, '117': 5.12, '118': 5.41, '119': 5.98, '120': 2.61, '123': 2.11, '124': 2.08, '125': 1.99, '126': 1.96, '127': 2.18, '128': 2.16, '129': 1.96, '130': 2.49, '131': 2.27, '132': 3.53, '133': 3.51, '134': 3.44, '135': 3.4, '136': 3.37, '137': 3.31, '138': 3.2, '142': 3.29, '155': 4.89, '156': 6.66, '157': 5.01, '158': 5.17, '159': 4.33, '160': 3.62, '161': 4.32, '163': 4.54, '165': 5.42, '166': 4.85, '167': 4.91, '168': 4.04, '169': 4, '170': 4.04, '171': 4.06, '172': 4.01, '174': 3.83, '175': 3.89, '176': 4, '177': 4.33, '178': 4.31, '179': 4.41, '180': 4.14, '181': 4.06, '182': 4.56, '183': 4, '184': 3.85, '185': 4.05, '186': 4.02, '187': 4.14, '188': 4.16, '189': 4.31, '190': 4.38, '191': 4.48, '192': 5.79, '193': 5.7, '194': 5.61, '195': 5.9, '196': 5.69, '197': 5.78, '198': 5.58, '199': 5.71, '200': 5.62, '201': 5.96, '202': 5.95, '203': 6.13, '224': 4.2, '225': 4.17, '226': 4.02, '227': 4.16, '228': 3.39, '231': 3.41, '232': 3.47, '233': 3.24, '234': 3.21, '235': 3.22, '236': 3.27, '237': 3.33, '238': 3.29, '239': 3.35, '240': 2.16, '242': 2.4, '243': 2.41, '244': 2.47, '245': 2.38, '246': 2.57, '247': 2.93, '248': 2.95, '249': 3.01, '250': 3.13, '251': 3.5, '264': 3.27, '265': 3.36, '266': 3.51, '267': 3.4, '268': 3.46, '269': 3.74, '270': 3.74, '271': 4.15, '272': 4.53, '273': 4.69, '274': 4.92, '275': 5.41, '291': 4.16, '292': 4.12, '293': 3.55, '294': 3.26, '295': 3.26, '296': 3.4, '299': 4.17, '300': 6.68, '301': 5.92, '302': 7.23, '303': 8.89, '304': 8.44, '305': 6.55, '306': 6.9, '307': 6.86, '308': 6.61, '309': 8.2, '310': 7.73, '311': 7.66, '317': 4.9, '325': 3.45, '326': 3.37, '327': 3.16, '328': 3.2, '329': 3.19, '330': 3.3, '331': 3.41, '333': 3.43, '334': 3.37, '335': 3.77, '337': 3.07, '338': 3.18, '339': 3.27, '340': 3.14, '341': 3.03, '342': 3.07, '343': 3.14, '344': 3.21, '345': 3.33, '346': 3.59, '347': 3.62, '348': 3.59, '360': 3.16, '361': 3.12, '362': 3.12, '363': 3.1, '364': 3.19, '365': 3.14, '366': 3.31, '367': 3.36, '368': 3.56, '369': 3.53, '370': 3.74, '371': 3.74, '381': 4.42, '382': 4.51, '383': 4.92, '385': 6.14, '386': 6.27, '390': 6.28, '394': 5.94, '395': 6.48, '396': 3.34, '398': 3.5, '399': 3.47, '400': 3.55, '401': 3.56, '402': 3.59, '403': 3.6, '404': 3.59, '405': 3.67, '406': 3.59, '407': 3.72, '408': 4.41, '409': 3.68, '410': 4.61, '411': 4.43, '412': 4.7, '414': 4.18, '415': 4.35, '416': 4.01, '417': 4.3, '418': 4.13, '419': 4.31, '432': 5.79, '434': 5.38, '438': 5.67, '439': 5.81, '440': 5.87, '441': 5.97, '442': 6.15}), ('dimension', {'nace_r2': {'label': 'nace_r2', 'category': {'index': {'ICT': 0}, 'label': {'ICT': 'Information and Communication Technology - Total'}}}, 'geo': {'label': 'geo', 'category': {'index': {'AT': 0, 'BA': 1, 'BE': 2, 'BG': 3, 'CH': 4, 'CY': 5, 'CZ': 6, 'DE': 7, 'DK': 8, 'EE': 9, 'EL': 10, 'ES': 11, 'EU27_2020': 12, 'FI': 13, 'FR': 14, 'HR': 15, 'HU': 16, 'IE': 17, 'IS': 18, 'IT': 19, 'LT': 20, 'LU': 21, 'LV': 22, 'ME': 23, 'MK': 24, 'MT': 25, 'NL': 26, 'NO': 27, 'PL': 28, 'PT': 29, 'RO': 30, 'RS': 31, 'SE': 32, 'SI': 33, 'SK': 34, 'TR': 35, 'UK': 36}, 'label': {'AT': 'Austria', 'BA': 'Bosnia and Herzegovina', 'BE': 'Belgium', 'BG': 'Bulgaria', 'CH': 'Switzerland', 'CY': 'Cyprus', 'CZ': 'Czechia', 'DE': 'Germany (until 1990 former territory of the FRG)', 'DK': 'Denmark', 'EE': 'Estonia', 'EL': 'Greece', 'ES': 'Spain', 'EU27_2020': 'European Union - 27 countries (from 2020)', 'FI': 'Finland', 'FR': 'France', 'HR': 'Croatia', 'HU': 'Hungary', 'IE': 'Ireland', 'IS': 'Iceland', 'IT': 'Italy', 'LT': 'Lithuania', 'LU': 'Luxembourg', 'LV': 'Latvia', 'ME': 'Montenegro', 'MK': 'North Macedonia', 'MT': 'Malta', 'NL': 'Netherlands', 'NO': 'Norway', 'PL': 'Poland', 'PT': 'Portugal', 'RO': 'Romania', 'RS': 'Serbia', 'SE': 'Sweden', 'SI': 'Slovenia', 'SK': 'Slovakia', 'TR': 'Turkey', 'UK': 'United Kingdom'}}}, 'time': {'label': 'time', 'category': {'index': {'2008': 0, '2009': 1, '2010': 2, '2011': 3, '2012': 4, '2013': 5, '2014': 6, '2015': 7, '2016': 8, '2017': 9, '2018': 10, '2019': 11}, 'label': {'2008': '2008', '2009': '2009', '2010': '2010', '2011': '2011', '2012': '2012', '2013': '2013', '2014': '2014', '2015': '2015', '2016': '2016', '2017': '2017', '2018': '2018', '2019': '2019'}}}}), ('id', ['nace_r2', 'geo', 'time']), ('size', [1, 37, 12])])

<b>The response from the json stat is a Dataset.
The data is in tabular format (cube)
<br>
Listing few properties of the dataset:
<li> Version is 2.0
<li> label : Percentage of the ICT sector on GDP
<li> source : Eurostat
<li> updated : 2022-07-01
<li> status : {}  ( 'b': 'break in time series', ':': 'not available', 'c': 'confidential', 'e': 'estimated', 'p': 'provisional' )
<li> class : dataset
<li> dimension : {nace_r2, geo , time}

In [11]:
# writing dataset to pandas dataframe
df = dataset_ict.write('dataframe')

In [4]:
df.head()

                                            nace_r2      geo  time  value
0  Information and Communication Technology - Total  Austria  2008   3.19
1  Information and Communication Technology - Total  Austria  2009   3.14
2  Information and Communication Technology - Total  Austria  2010   3.12
3  Information and Communication Technology - Total  Austria  2011   3.25
4  Information and Communication Technology - Total  Austria  2012   3.15

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 4 columns):
nace_r2    444 non-null object
geo        444 non-null object
time       444 non-null object
value      270 non-null float64
dtypes: float64(1), object(3)
memory usage: 14.0+ KB

###### From the above we can see that values are missing for 174 geo time combinations

In [25]:
# for following fields the values are null
df.drop('nace_r2', axis = 1, inplace = True)
print(df[df['value'].isna()])

                                           geo  time  value
6                                      Austria  2014    NaN
12                      Bosnia and Herzegovina  2008    NaN
13                      Bosnia and Herzegovina  2009    NaN
14                      Bosnia and Herzegovina  2010    NaN
15                      Bosnia and Herzegovina  2011    NaN
16                      Bosnia and Herzegovina  2012    NaN
17                      Bosnia and Herzegovina  2013    NaN
21                      Bosnia and Herzegovina  2017    NaN
22                      Bosnia and Herzegovina  2018    NaN
23                      Bosnia and Herzegovina  2019    NaN
24                                     Belgium  2008    NaN
48                                 Switzerland  2008    NaN
49                                 Switzerland  2009    NaN
50                                 Switzerland  2010    NaN
51                                 Switzerland  2011    NaN
52                                 Switzerland  2012    NaN
53                                 Switzerland  2013    NaN
54                                 Switzerland  2014    NaN
55                                 Switzerland  2015    NaN
56                                 Switzerland  2016    NaN
57                                 Switzerland  2017    NaN
58                                 Switzerland  2018    NaN
59                                 Switzerland  2019    NaN
60                                      Cyprus  2008    NaN
61                                      Cyprus  2009    NaN
62                                      Cyprus  2010    NaN
63                                      Cyprus  2011    NaN
64                                      Cyprus  2012    NaN
65                                      Cyprus  2013    NaN
66                                      Cyprus  2014    NaN
67                                      Cyprus  2015    NaN
68                                      Cyprus  2016    NaN
69                                      Cyprus  2017    NaN
70                                      Cyprus  2018    NaN
71                                      Cyprus  2019    NaN
72                                     Czechia  2008    NaN
100                                    Denmark  2012    NaN
101                                    Denmark  2013    NaN
102                                    Denmark  2014    NaN
103                                    Denmark  2015    NaN
104                                    Denmark  2016    NaN
105                                    Denmark  2017    NaN
121                                     Greece  2009    NaN
122                                     Greece  2010    NaN
139                                      Spain  2015    NaN
140                                      Spain  2016    NaN
141                                      Spain  2017    NaN
143                                      Spain  2019    NaN
144  European Union - 27 countries (from 2020)  2008    NaN
145  European Union - 27 countries (from 2020)  2009    NaN
146  European Union - 27 countries (from 2020)  2010    NaN
147  European Union - 27 countries (from 2020)  2011    NaN
148  European Union - 27 countries (from 2020)  2012    NaN
149  European Union - 27 countries (from 2020)  2013    NaN
150  European Union - 27 countries (from 2020)  2014    NaN
151  European Union - 27 countries (from 2020)  2015    NaN
152  European Union - 27 countries (from 2020)  2016    NaN
153  European Union - 27 countries (from 2020)  2017    NaN
154  European Union - 27 countries (from 2020)  2018    NaN
162                                    Finland  2014    NaN
164                                    Finland  2016    NaN
173                                     France  2013    NaN
204                                    Ireland  2008    NaN
205                                    Ireland  2009    NaN
206                                    Ireland  2010    NaN
207                                    Ireland  2011    NaN
208                                    Ireland  2012    NaN
209                                    Ireland  2013    NaN
210                                    Ireland  2014    NaN
211                                    Ireland  2015    NaN
212                                    Ireland  2016    NaN
213                                    Ireland  2017    NaN
214                                    Ireland  2018    NaN
215                                    Ireland  2019    NaN
216                                    Iceland  2008    NaN
217                                    Iceland  2009    NaN
218                                    Iceland  2010    NaN
219                                    Iceland  2011    NaN
220                                    Iceland  2012    NaN
221                                    Iceland  2013    NaN
222                                    Iceland  2014    NaN
223                                    Iceland  2015    NaN
229                                      Italy  2009    NaN
230                                      Italy  2010    NaN
241                                  Lithuania  2009    NaN
252                                 Luxembourg  2008    NaN
253                                 Luxembourg  2009    NaN
254                                 Luxembourg  2010    NaN
255                                 Luxembourg  2011    NaN
256                                 Luxembourg  2012    NaN
257                                 Luxembourg  2013    NaN
258                                 Luxembourg  2014    NaN
259                                 Luxembourg  2015    NaN
260                                 Luxembourg  2016    NaN
261                                 Luxembourg  2017    NaN
262                                 Luxembourg  2018    NaN
263                                 Luxembourg  2019    NaN
276                                 Montenegro  2008    NaN
277                                 Montenegro  2009    NaN
278                                 Montenegro  2010    NaN
279                                 Montenegro  2011    NaN
280                                 Montenegro  2012    NaN
281                                 Montenegro  2013    NaN
282                                 Montenegro  2014    NaN
283                                 Montenegro  2015    NaN
284                                 Montenegro  2016    NaN
285                                 Montenegro  2017    NaN
286                                 Montenegro  2018    NaN
287                                 Montenegro  2019    NaN
288                            North Macedonia  2008    NaN
289                            North Macedonia  2009    NaN
290                            North Macedonia  2010    NaN
297                            North Macedonia  2017    NaN
298                            North Macedonia  2018    NaN
312                                Netherlands  2008    NaN
313                                Netherlands  2009    NaN
314                                Netherlands  2010    NaN
315                                Netherlands  2011    NaN
316                                Netherlands  2012    NaN
318                                Netherlands  2014    NaN
319                                Netherlands  2015    NaN
320                                Netherlands  2016    NaN
321                                Netherlands  2017    NaN
322                                Netherlands  2018    NaN
323                                Netherlands  2019    NaN
324                                     Norway  2008    NaN
332                                     Norway  2016    NaN
336                                     Poland  2008    NaN
349                                   Portugal  2009    NaN
350                                   Portugal  2010    NaN
351                                   Portugal  2011    NaN
352                                   Portugal  2012    NaN
353                                   Portugal  2013    NaN
354                                   Portugal  2014    NaN
355                                   Portugal  2015    NaN
356                                   Portugal  2016    NaN
357                                   Portugal  2017    NaN
358                                   Portugal  2018    NaN
359                                   Portugal  2019    NaN
372                                     Serbia  2008    NaN
373                                     Serbia  2009    NaN
374                                     Serbia  2010    NaN
375                                     Serbia  2011    NaN
376                                     Serbia  2012    NaN
377                                     Serbia  2013    NaN
378                                     Serbia  2014    NaN
379                                     Serbia  2015    NaN
380                                     Serbia  2016    NaN
384                                     Sweden  2008    NaN
387                                     Sweden  2011    NaN
388                                     Sweden  2012    NaN
389                                     Sweden  2013    NaN
391                                     Sweden  2015    NaN
392                                     Sweden  2016    NaN
393                                     Sweden  2017    NaN
397                                   Slovenia  2009    NaN
413                                   Slovakia  2013    NaN
420                                     Turkey  2008    NaN
421                                     Turkey  2009    NaN
422                                     Turkey  2010    NaN
423                                     Turkey  2011    NaN
424                                     Turkey  2012    NaN
425                                     Turkey  2013    NaN
426                                     Turkey  2014    NaN
427                                     Turkey  2015    NaN
428                                     Turkey  2016    NaN
429                                     Turkey  2017    NaN
430                                     Turkey  2018    NaN
431                                     Turkey  2019    NaN
433                             United Kingdom  2009    NaN
435                             United Kingdom  2011    NaN
436                             United Kingdom  2012    NaN
437                             United Kingdom  2013    NaN
443                             United Kingdom  2019    NaN

In [12]:
print(df['time'].unique())

['2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017'
 '2018' '2019']

###### The values for ICT are  from 2008 until 2019

In [13]:
print(df['geo'].unique())

['Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria' 'Switzerland'
 'Cyprus' 'Czechia' 'Germany (until 1990 former territory of the FRG)'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Lithuania' 'Luxembourg' 'Latvia'
 'Montenegro' 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'Turkey'
 'United Kingdom']

<p><b>ICT for above list of countries are available.</b></p><br>
<b>There are also aggregates e.g European Union - 27 countries (from 2020)

# % of Enterprises in cloud computing by country euro stat data

In [27]:
url_percentage_cloud_computing = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/isoc_cicce_use?sizen_r2=M_C10_S951_XK&sizen_r2=L_C10_S951_XK&unit=PC_ENT&indic_is=E_CC'
dataset_percentage_cloud_computing = pyjstat.Dataset.read(url_percentage_cloud_computing)

In [28]:
dataset_percentage_cloud_computing

Dataset([('version', '2.0'),
         ('label', 'Cloud computing services'),
         ('href',
          'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/isoc_cicce_use?sizen_r2=M_C10_S951_XK&sizen_r2=L_C10_S951_XK&unit=PC_ENT&indic_is=E_CC'),
         ('source', 'Eurostat'),
         ('updated', '2022-03-17'),
         ('status',
          {'0': ':',
           '1': ':',
           '2': ':',
           '3': ':',
           '4': ':',
           '5': ':',
           '8': ':',
           '14': ':',
           '15': ':',
           '16': ':',
           '17': ':',
           '43': ':',
           '50': ':',
           '52': ':',
           '64': ':',
           '66': ':',
           '71': ':',
           '73': ':',
           '92': ':',
           '94': ':',
           '96': ':',
           '97': ':',
           '99': ':',
           '101': ':',
           '103': ':',
           '104': ':',
           '106': ':',
           '108': ':',
           '113': ':',
           '115': ':',
           '117': ':',
           '118': ':',
           '127': ':',
           '129': ':',
           '150': ':',
           '155': ':',
           '156': ':',
           '157': ':',
           '158': ':',
           '159': ':',
           '160': ':',
           '162': ':',
           '163': 'b',
           '164': ':',
           '176': ':',
           '178': ':',
           '189': ':',
           '190': ':',
           '192': ':',
           '193': ':u',
           '197': ':',
           '199': ':',
           '200': ':',
           '206': ':',
           '211': ':',
           '213': ':',
           '232': ':',
           '246': ':',
           '247': ':',
           '253': ':',
           '255': ':',
           '273': ':',
           '274': ':',
           '276': ':',
           '281': ':',
           '283': ':',
           '286': ':',
           '287': ':',
           '288': ':',
           '289': ':',
           '290': ':',
           '291': ':',
           '292': ':',
           '295': ':',
           '301': ':',
           '302': ':',
           '303': ':',
           '304': ':',
           '330': ':',
           '337': ':',
           '339': ':',
           '351': ':',
           '353': ':',
           '358': ':',
           '360': ':',
           '379': ':',
           '381': ':',
           '383': ':',
           '384': ':',
           '386': ':',
           '388': ':',
           '390': ':',
           '391': ':',
           '393': ':',
           '395': ':',
           '400': ':',
           '402': ':',
           '404': ':',
           '405': ':',
           '414': ':',
           '416': ':',
           '437': ':',
           '442': ':',
           '443': ':',
           '444': ':',
           '445': ':',
           '446': ':',
           '447': ':',
           '449': ':',
           '450': 'b',
           '451': ':',
           '463': ':',
           '465': ':',
           '476': ':',
           '477': ':',
           '479': ':',
           '484': ':',
           '486': ':',
           '487': ':',
           '493': ':',
           '498': ':',
           '500': ':',
           '519': ':',
           '523': ':u',
           '533': ':',
           '534': ':',
           '540': ':',
           '542': ':',
           '560': ':',
           '561': ':',
           '563': ':',
           '568': ':',
           '570': ':',
           '573': ':'}),
         ('extension',
          {'datasetId': 'isoc_cicce_use',
           'lang': 'EN',
           'description': None,
           'subTitle': None,
           'status': {'label': {':': 'not available',
             'b': 'break in time series',
             'u': 'low reliability'}}}),
         ('class', 'dataset'),
         ('value',
          {'6': 57,
           '7': 24,
           '9': 35,
           '10': 43,
           '11': 50,
           '12': 66,
           '13': 75,
           '18': 20,
           '19': 22,
           '20': 30,
           '21': 44,
           '22': 56,
           '23': 64,
           '24': 76,
           '25': 79,
           '26': 86,
           '27': 90,
           '28': 13,
           '29': 16,
           '30': 18,
           '31': 29,
           '32': 30,
           '33': 39,
           '34': 45,
           '35': 30,
           '36': 33,
           '37': 37,
           '38': 41,
           '39': 42,
           '40': 66,
           '41': 85,
           '42': 19,
           '44': 30,
           '45': 39,
           '46': 45,
           '47': 56,
           '48': 62,
           '49': 27,
           '51': 38,
           '53': 49,
           '54': 62,
           '55': 71,
           '56': 54,
           '57': 62,
           '58': 66,
           '59': 68,
           '60': 77,
           '61': 89,
           '62': 89,
           '63': 35,
           '65': 45,
           '67': 56,
           '68': 67,
           '69': 74,
           '70': 23,
           '72': 45,
           '74': 57,
           '75': 75,
           '76': 81,
           '77': 19,
           '78': 32,
           '79': 32,
           '80': 38,
           '81': 46,
           '82': 45,
           '83': 53,
           '84': 35,
           '85': 40,
           '86': 45,
           '87': 51,
           '88': 55,
           '89': 64,
           '90': 67,
           '91': 40,
           '93': 49,
           '95': 60,
           '98': 35,
           '100': 45,
           '102': 56,
           '105': 32,
           '107': 42,
           '109': 53,
           '110': 65,
           '111': 72,
           '112': 35,
           '114': 45,
           '116': 56,
           '119': 69,
           '120': 80,
           '121': 87,
           '122': 89,
           '123': 92,
           '124': 94,
           '125': 99,
           '126': 36,
           '128': 48,
           '130': 60,
           '131': 66,
           '132': 71,
           '133': 27,
           '134': 30,
           '135': 39,
           '136': 48,
           '137': 50,
           '138': 65,
           '139': 68,
           '140': 18,
           '141': 26,
           '142': 33,
           '143': 39,
           '144': 45,
           '145': 59,
           '146': 65,
           '147': 50,
           '148': 58,
           '149': 63,
           '151': 61,
           '152': 79,
           '153': 87,
           '154': 62,
           '161': 47,
           '163': 50,
           '165': 58,
           '166': 79,
           '167': 83,
           '168': 21,
           '169': 29,
           '170': 34,
           '171': 48,
           '172': 55,
           '173': 64,
           '174': 74,
           '175': 35,
           '177': 48,
           '179': 54,
           '180': 63,
           '181': 69,
           '182': 18,
           '183': 22,
           '184': 32,
           '185': 36,
           '186': 39,
           '187': 47,
           '188': 68,
           '191': 34,
           '194': 52,
           '195': 51,
           '196': 15,
           '198': 13,
           '201': 33,
           '202': 38,
           '203': 29,
           '204': 44,
           '205': 48,
           '207': 62,
           '208': 71,
           '209': 73,
           '210': 50,
           '212': 58,
           '214': 76,
           '215': 80,
           '216': 87,
           '217': 52,
           '218': 63,
           '219': 66,
           '220': 74,
           '221': 80,
           '222': 89,
           '223': 90,
           '224': 19,
           '225': 25,
           '226': 31,
           '227': 37,
           '228': 43,
           '229': 60,
           '230': 70,
           '231': 31,
           '233': 44,
           '234': 55,
           '235': 60,
           '236': 66,
           '237': 71,
           '238': 10,
           '239': 16,
           '240': 17,
           '241': 26,
           '242': 25,
           '243': 34,
           '244': 33,
           '245': 5,
           '248': 23,
           '249': 31,
           '250': 34,
           '251': 51,
           '252': 62,
           '254': 73,
           '256': 83,
           '257': 90,
           '258': 94,
           '259': 28,
           '260': 39,
           '261': 49,
           '262': 54,
           '263': 65,
           '264': 73,
           '265': 81,
           '266': 16,
           '267': 23,
           '268': 28,
           '269': 32,
           '270': 41,
           '271': 51,
           '272': 61,
           '275': 20,
           '277': 28,
           '278': 41,
           '279': 41,
           '280': 54,
           '282': 61,
           '284': 72,
           '285': 72,
           '293': 26,
           '294': 17,
           '296': 22,
           '297': 28,
           '298': 35,
           '299': 48,
           '300': 55,
           '305': 12,
           '306': 14,
           '307': 16,
           '308': 29,
           '309': 34,
           '310': 41,
           '311': 49,
           '312': 55,
           '313': 65,
           '314': 67,
           '315': 10,
           '316': 8,
           '317': 11,
           '318': 12,
           '319': 15,
           '320': 20,
           '321': 23,
           '322': 15,
           '323': 18,
           '324': 21,
           '325': 33,
           '326': 41,
           '327': 47,
           '328': 62,
           '329': 17,
           '331': 22,
           '332': 27,
           '333': 34,
           '334': 37,
           '335': 47,
           '336': 16,
           '338': 20,
           '340': 27,
           '341': 41,
           '342': 52,
           '343': 39,
           '344': 41,
           '345': 48,
           '346': 56,
           '347': 62,
           '348': 73,
           '349': 76,
           '350': 24,
           '352': 28,
           '354': 35,
           '355': 47,
           '356': 55,
           '357': 17,
           '359': 30,
           '361': 42,
           '362': 69,
           '363': 70,
           '364': 14,
           '365': 18,
           '366': 19,
           '367': 25,
           '368': 32,
           '369': 28,
           '370': 36,
           '371': 24,
           '372': 26,
           '373': 33,
           '374': 35,
           '375': 37,
           '376': 43,
           '377': 47,
           '378': 27,
           '380': 32,
           '382': 40,
           '385': 24,
           '387': 29,
           '389': 36,
           '392': 22,
           '394': 26,
           '396': 34,
           '397': 46,
           '398': 53,
           '399': 24,
           '401': 29,
           '403': 36,
           '406': 60,
           '407': 64,
           '408': 72,
           '409': 80,
           '410': 77,
           '411': 86,
           '412': 91,
           '413': 19,
           '415': 28,
           '417': 34,
           '418': 39,
           '419': 45,
           '420': 27,
           '421': 28,
           '422': 32,
           '423': 40,
           '424': 39,
           '425': 51,
           '426': 53,
           '427': 11,
           '428': 16,
           '429': 19,
           '430': 23,
           '431': 29,
           '432': 37,
           '433': 41,
           '434': 36,
           '435': 49,
           '436': 50,
           '438': 58,
           '439': 65,
           '440': 69,
           '441': 51,
           '448': 43,
           '450': 30,
           '452': 36,
           '453': 66,
           '454': 71,
           '455': 18,
           '456': 21,
           '457': 26,
           '458': 34,
           '459': 35,
           '460': 44,
           '461': 48,
           '462': 16,
           '464': 24,
           '466': 34,
           '467': 41,
           '468': 49,
           '469': 9,
           '470': 14,
           '471': 13,
           '472': 16,
           '473': 21,
           '474': 30,
           '475': 43,
           '478': 15,
           '480': 28,
           '481': 31,
           '482': 34,
           '483': 12,
           '485': 8,
           '488': 17,
           '489': 17,
           '490': 24,
           '491': 34,
           '492': 42,
           '494': 51,
           '495': 68,
           '496': 77,
           '497': 35,
           '499': 42,
           '501': 58,
           '502': 61,
           '503': 74,
           '504': 39,
           '505': 48,
           '506': 54,
           '507': 59,
           '508': 66,
           '509': 78,
           '510': 79,
           '511': 11,
           '512': 13,
           '513': 13,
           '514': 17,
           '515': 19,
           '516': 38,
           '517': 43,
           '518': 19,
           '520': 28,
           '521': 35,
           '522': 36,
           '524': 49,
           '525': 5,
           '526': 10,
           '527': 9,
           '528': 14,
           '529': 13,
           '530': 20,
           '531': 18,
           '532': 6,
           '535': 12,
           '536': 20,
           '537': 29,
           '538': 41,
           '539': 52,
           '541': 60,
           '543': 71,
           '544': 85,
           '545': 89,
           '546': 20,
           '547': 23,
           '548': 29,
           '549': 34,
           '550': 37,
           '551': 47,
           '552': 55,
           '553': 20,
           '554': 21,
           '555': 21,
           '556': 27,
           '557': 26,
           '558': 33,
           '559': 47,
           '562': 14,
           '564': 17,
           '565': 22,
           '566': 19,
           '567': 36,
           '569': 45,
           '571': 55,
           '572': 66}),
         ('dimension',
          {'unit': {'label': 'unit',
            'category': {'index': {'PC_ENT': 0},
             'label': {'PC_ENT': 'Percentage of enterprises'}}},
           'sizen_r2': {'label': 'sizen_r2',
            'category': {'index': {'L_C10_S951_XK': 0, 'M_C10_S951_XK': 1},
             'label': {'L_C10_S951_XK': 'Large enterprises (250 employees and self-employed persons or more), without financial sector',
              'M_C10_S951_XK': 'Medium enterprises (50-249 employees and self-employed persons), without financial sector'}}},
           'indic_is': {'label': 'indic_is',
            'category': {'index': {'E_CC': 0},
             'label': {'E_CC': 'Buy cloud computing services used over the internet'}}},
           'geo': {'label': 'geo',
            'category': {'index': {'AL': 0,
              'AT': 1,
              'BA': 2,
              'BE': 3,
              'BG': 4,
              'CY': 5,
              'CZ': 6,
              'DE': 7,
              'DK': 8,
              'EA': 9,
              'EE': 10,
              'EL': 11,
              'ES': 12,
              'EU15': 13,
              'EU27_2007': 14,
              'EU27_2020': 15,
              'EU28': 16,
              'FI': 17,
              'FR': 18,
              'HR': 19,
              'HU': 20,
              'IE': 21,
              'IS': 22,
              'IT': 23,
              'LT': 24,
              'LU': 25,
              'LV': 26,
              'ME': 27,
              'MK': 28,
              'MT': 29,
              'NL': 30,
              'NO': 31,
              'PL': 32,
              'PT': 33,
              'RO': 34,
              'RS': 35,
              'SE': 36,
              'SI': 37,
              'SK': 38,
              'TR': 39,
              'UK': 40},
             'label': {'AL': 'Albania',
              'AT': 'Austria',
              'BA': 'Bosnia and Herzegovina',
              'BE': 'Belgium',
              'BG': 'Bulgaria',
              'CY': 'Cyprus',
              'CZ': 'Czechia',
              'DE': 'Germany (until 1990 former territory of the FRG)',
              'DK': 'Denmark',
              'EA': 'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
              'EE': 'Estonia',
              'EL': 'Greece',
              'ES': 'Spain',
              'EU15': 'European Union - 15 countries (1995-2004)',
              'EU27_2007': 'European Union - 27 countries (2007-2013)',
              'EU27_2020': 'European Union - 27 countries (from 2020)',
              'EU28': 'European Union - 28 countries (2013-2020)',
              'FI': 'Finland',
              'FR': 'France',
              'HR': 'Croatia',
              'HU': 'Hungary',
              'IE': 'Ireland',
              'IS': 'Iceland',
              'IT': 'Italy',
              'LT': 'Lithuania',
              'LU': 'Luxembourg',
              'LV': 'Latvia',
              'ME': 'Montenegro',
              'MK': 'North Macedonia',
              'MT': 'Malta',
              'NL': 'Netherlands',
              'NO': 'Norway',
              'PL': 'Poland',
              'PT': 'Portugal',
              'RO': 'Romania',
              'RS': 'Serbia',
              'SE': 'Sweden',
              'SI': 'Slovenia',
              'SK': 'Slovakia',
              'TR': 'Turkey',
              'UK': 'United Kingdom'}}},
           'time': {'label': 'time',
            'category': {'index': {'2014': 0,
              '2015': 1,
              '2016': 2,
              '2017': 3,
              '2018': 4,
              '2020': 5,
              '2021': 6},
             'label': {'2014': '2014',
              '2015': '2015',
              '2016': '2016',
              '2017': '2017',
              '2018': '2018',
              '2020': '2020',
              '2021': '2021'}}}}),
         ('id', ['unit', 'sizen_r2', 'indic_is', 'geo', 'time']),
         ('size', [1, 2, 1, 41, 7])])

<b>The response from the json stat is a Dataset.
The data is in tabular format (cube)
<br>
Listing few properties of the dataset:
<li> Version is 2.0
<li> label : Cloud computing services
<li> source : Eurostat
<li> updated : 2022-07-01
<li> status : {}  ( 'b': 'break in time series', ':': 'not available', 'c': 'confidential', 'e': 'estimated', 'p': 'provisional' )
<li> class : dataset
<li> dimension : {'unit', 'sizen_r2', 'indic_is', 'geo', 'time'}

In [30]:
# write to pandas dataframe
df_cc = dataset_percentage_cloud_computing.write('dataframe')

In [32]:
df_cc.head()

,unit,sizen_r2,indic_is,geo,time,value
0,Percentage of enterprises,"Large enterprises (250 employees and self-employed persons or more), without financial sector",Buy cloud computing services used over the internet,Albania,2014,NaN
1,Percentage of enterprises,"Large enterprises (250 employees and self-employed persons or more), without financial sector",Buy cloud computing services used over the internet,Albania,2015,NaN
2,Percentage of enterprises,"Large enterprises (250 employees and self-employed persons or more), without financial sector",Buy cloud computing services used over the internet,Albania,2016,NaN
3,Percentage of enterprises,"Large enterprises (250 employees and self-employed persons or more), without financial sector",Buy cloud computing services used over the internet,Albania,2017,NaN
4,Percentage of enterprises,"Large enterprises (250 employees and self-employed persons or more), without financial sector",Buy cloud computing services used over the internet,Albania,2018,NaN

<b>Following attributes are present:
<li> unit: Percentage of enterprises
<li> Sizen_r2 : Large enterprises (250 employees and self-employed persons or more), without financial sector
<li> indic_is : Buy cloud computing services used over the internet	
<li> geo : countries
<li> time : year
<li> value : percentage values

In [33]:
print(df_cc['time'].unique())

['2014' '2015' '2016' '2017' '2018' '2020' '2021']

<b>From year 2014 until 2021 percentages of enterprises in Cloud computing in different european countries are present

In [34]:
print(df_cc['geo'].unique())

['Albania' 'Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria'
 'Cyprus' 'Czechia' 'Germany (until 1990 former territory of the FRG)'
 'Denmark'
 'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)'
 'Estonia' 'Greece' 'Spain' 'European Union - 15 countries (1995-2004)'
 'European Union - 27 countries (2007-2013)'
 'European Union - 27 countries (from 2020)'
 'European Union - 28 countries (2013-2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Lithuania' 'Luxembourg' 'Latvia'
 'Montenegro' 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'Turkey'
 'United Kingdom']

<b> We can see the above list of countries are considered in the dataset </b>
<br> <b>Also there are some stats aggregated by Euro area, some by countries in European Union</b>

In [35]:
df_cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 6 columns):
unit        574 non-null object
sizen_r2    574 non-null object
indic_is    574 non-null object
geo         574 non-null object
time        574 non-null object
value       442 non-null float64
dtypes: float64(1), object(5)
memory usage: 27.0+ KB

<b>Values are missing for 132 combinations of geo, time

# GDP data

In [36]:
df_gdp = pd.read_csv('gdp_data.csv', header='infer', delimiter='|', decimal=',')

In [37]:
df_gdp.head()

,Country,2008,2012,2014,2016,2018,2019
0,Austria,NaN,318.653,333.146,357.300,385.712,397.575
1,Belgium,"351,743",386.175,403.003,NaN,459.820,476.203
2,Bosnia and Herzegovina,"18,640",NaN,18.560,NaN,19.900,NaN
3,Bulgaria,"37,218",42.034,NaN,48.621,56.087,61.239
4,Croatia,"47,998",43.941,43.401,46.616,51.625,54.237

In [38]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
Country    29 non-null object
2008       27 non-null object
2012       22 non-null float64
2014       21 non-null float64
2016       20 non-null float64
2018       20 non-null float64
2019       21 non-null float64
dtypes: float64(5), object(2)
memory usage: 1.7+ KB

<b>There are values missing over the years
<li> Also for 2008 the values seems to be not clean, whichever country futurice is present, those text seems to have moved to this column

In [39]:
(df_gdp['Country'].unique())

array(['Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Italy', 'Latvia',
       'Lithuania', 'Malta', 'Netherlands', 'North Macedonia', 'Poland',
       'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'United Kingdom'], dtype=object)

<b>There is data for 29 countries

In [40]:
(df_gdp['2008'].unique())

array([nan, '351,743', '18,640', '37,218', '47,998', '161,313', '241,614',
       '16,638', 'Offices in Helsinki and Tampere', '1992,38',
       'Offices in Berlin, Munich and Stuttgart', '241,99', '108,216',
       '13,4', '1637,70', '24,397', '32,696', '6,129', '647,198', '9,1',
       '366,181', '179,103', '146,591', '66,098', '37,926', '1109,54',
       'Office in Stockholm', 'Office in London'], dtype=object)

<b> The column 2008 has the string values in which countries Futurice is already present